html, body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
body {
    width: 100%;
}
#app{
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: x-large;
    text-align: center;
    width: 25em;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    input {
        width: 20em;
        height: 27px;
    }
}